body {
 background-color: darkblue;
}

h1.g {
    text-align: center;
    color: rgb(14, 160, 234);
}

button {
    margin-top: 100px;
    margin-left: 690px;
    border: 1.5px solid black;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

main {
    background-color: rgba(255, 255, 255, 0.878);
    min-width: 500px;
    min-height: 600px;
    border-radius: 20px;
}

input.a {
    width: -05px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(181, 136, 223);
    margin-top: 100px;
    margin-left: 520px;
}

input.c {
    margin-top: 100px;
}

h3 {
    text-align: center;
}